#include "WTEP.h"

IDR_VERSION                   ICON	DISCARDABLE	"Res\\hawk.ico"


IDR_VERSION VERSIONINFO
 FILEVERSION 1,4,1,061
 PRODUCTVERSION 1,4,1,061
 FILEFLAGSMASK 0x3L
 FILEFLAGS 0x1L
 FILEOS 0x4L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004E4"
        BEGIN
            VALUE "Comments", "Programmed in assembly with Easy Code\0"
            VALUE "CompanyName", "WAIFor's Workshop\0"
            VALUE "FileDescription", "WAIFor's Trigger Effects & Modding Patch (Final Version For UP 1.4RC)\0"
            VALUE "FileVersion", "1.04.1.0611\0"
            VALUE "InternalName", "WTEP\0"
            VALUE "LegalCopyright", "Copyright 2016 WAIFor\0"
            VALUE "OriginalFilename", "WTEP.exe\0"
            VALUE "ProductName", "WAIFor's Trigger Effects Patch\0"
            VALUE "ProductVersion", "1.04.1.0611\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0400, 1252
    END
END
